<div>
  <h1>Stats</h1>
  <h2>Unique Movies</h2>
  <div><%= @count %></div>
  <h2>Reba's average grade</h2>
  <div><%= @reba_average %></div>
  <h2>Matt's average grade</h2>
  <div><%= @matt_average %></div>
  <h2>The Household's Favorite Movies</h2>
  <%= @household_favorites.each do | movie | %>
  <div><%= movie.title %></div>
  <% end %>
  <h2>Biggest disagreement</h2>
  <div><%= @biggest_divergence.title %></div>
  <div>
    Matt: <%= @matt_score_on_divergence %> Reba: <%= @reba_score_on_divergence
    %>
  </div>
</div>
