<%= form_for(@rating) do |f| %>

<div class="field">
  <%= f.label :score %><br />
  <%= f.number_field :score %>
</div>

<div class="field">
  <%= f.label :user_id %><br />
  <%= f.collection_select(:user_id, User.all, :id, :first_name) %>
</div>

<div class="field">
  <%= f.label :movie_id %><br />
  <%= f.collection_select(:movie_id, Movie.all, :id, :title) %>
</div>

<div class="actions"><%= f.submit %></div>
<% end %>
