<div id="movie-button" data-turbo-frame="movie-button">
  <%= button_to 'Add New Movie', new_movie_path, method: :post, data: {
  turbo_action: 'replace', turbo_frame: 'movie-button movie-form' } %>
</div>

<div data-controller="rating-form" data-turb-frame="movie-form">
  <%= form_for(@rating) do |f| %>
  <div class="field">
    <div id="movie-selection">
      <%= f.label :movie %><br />

      <%= render 'select_movie_dropdown', f:f %>
    </div>
  </div>

  <div class="field">
    <%= f.label :score %><br />
    <%= f.select :score, options_for_select([ ['A+', 15], ['A', 14], ['A-', 13],
    ['B+', 12], ['B', 11], ['B-', 10], ['C+', 9], ['C', 8], ['C-', 7], ['D+',
    6], ['D', 5], ['D-', 4], ['F', 3], ['F', 2], ['F', 1] ]) %>
  </div>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.collection_select(:user_id, User.all, :id, :first_name) %>
  </div>

  <div class="field">
    <%= f.label :watched_date %><br />
    <%= f.date_select :watched_date %>
  </div>

  <div class="actions"><%= f.submit %></div>
  <% end %>
</div>
